%svg#nb-logo{"enable-background" => "new 0 0 182.7 200", :space => "preserve", :version => "1.1", :viewbox => "0 0 182.7 200", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
  %g
    %polygon{:fill => "#FFFFFF", :points => "0.3,138.3 90.6,184.8 183,137.4 92.7,90.9 \t\t\t"}
    %polygon{:fill => "#FFFFFF", :points => "77.9,148.7 109.7,165.5 125.6,157.3 93.8,140.5 \t\t\t"}
    %polygon{:fill => "#D8DFE3", :points => "125.6,157.2 93.8,140.4 93.8,151.5 115.1,162.7 \t\t\t"}
    %polygon{:fill => "#E2E9ED", :points => "93.8,140.4 93.8,151.5 88.4,154.3 77.9,148.7 \t\t\t"}
    %polygon{:fill => "#FFFFFF", :points => "98.1,138.3 129.9,155 145.9,146.8 114,130.1 \t\t\t"}
    %polygon{:fill => "#D8DFE3", :points => "145.9,146.7 114,130 114,141 135.4,152.2 \t\t\t"}
    %polygon{:fill => "#E2E9ED", :points => "114,130 114,141 108.6,143.8 98.1,138.3 \t\t\t"}
    %polygon{:fill => "#FFFFFF", :points => "118.3,127.7 150.1,144.4 166.1,136.2 134.2,119.5 \t\t\t"}
    %polygon{:fill => "#D8DFE3", :points => "166.1,136.1 134.2,119.4 134.2,130.4 155.6,141.6 \t\t\t"}
    %polygon{:fill => "#E2E9ED", :points => "134.2,119.4 134.2,130.4 128.8,133.2 118.3,127.7 \t\t\t"}
    %polygon{:fill => "#D8DFE3", :points => "90.6,184.9 0.3,138.4 0.3,153.2 90.6,199.7 \t\t\t"}
    %polygon{:fill => "#E2E9ED", :points => "90.6,184.9 183,137.4 183,152.2 90.6,199.7 \t\t\t"}
    %polygon{:fill => "#FFFFFF", :points => "16.4,137.7 33,146.5 49,138.3 32.3,129.4 \t\t\t"}
    %polygon{:fill => "#D8DFE3", :points => "49,138.2 32.3,129.3 32.3,140.4 38.5,143.7 \t\t\t"}
    %polygon{:fill => "#F9FCFC", :points => "36.6,127.1 68.5,143.8 84.4,135.6 52.5,118.9 \t\t\t"}
    %polygon{:fill => "#D8DFE3", :points => "84.4,135.5 52.5,118.8 52.5,129.8 73.9,141 \t\t\t"}
    %polygon{:fill => "#E2E9ED", :points => "52.5,118.8 52.5,129.8 47.1,132.6 36.6,127.1 \t\t\t"}
    %polygon{:fill => "#F9FCFC", :points => "56.8,116.6 88.7,133.3 104.6,125.1 72.7,108.4 \t\t\t"}
    %polygon{:fill => "#D8DFE3", :points => "104.6,125 72.7,108.3 72.7,119.3 94.1,130.5 \t\t\t"}
    %polygon{:fill => "#E2E9ED", :points => "72.7,108.3 72.7,119.3 67.4,122.1 56.8,116.6 \t\t\t"}
    %polygon{:fill => "#F9FCFC", :points => "77,106 108.9,122.7 124.8,114.5 92.9,97.8 \t\t\t"}
    %polygon{:fill => "#D8DFE3", :points => "124.8,114.4 92.9,97.7 92.9,108.7 114.3,119.9 \t\t\t"}
    %polygon{:fill => "#E2E9ED", :points => "92.9,97.7 92.9,108.7 87.6,111.6 77,106 \t\t\t"}
    %g
      %defs
        %polygon#SVGID_1_{:points => "16.4,137.7 33,146.5 49,138.3 32.3,129.4 \t\t\t\t\t"}
      %clippath#SVGID_2_
        %use{:overflow => "visible", "xlink:href" => "#SVGID_1_"}
    %polygon{:fill => "#FFFFFF", :points => "73.9,167.3 90.5,176.2 106.5,167.9 89.8,159.1 \t\t\t"}
    %polygon{:fill => "#D8DFE3", :points => "106.5,167.8 89.8,159 89.8,170.1 96,173.4 \t\t\t"}
    %polygon{:fill => "#E2E9ED", :points => "89.8,159 89.8,170.1 83.9,173.1 73.3,167.6 \t\t\t"}
    %polygon{:fill => "#FFFFFF", :points => "44.2,152.5 60.8,161.3 76.7,153.1 60.1,144.2 \t\t\t"}
    %polygon{:fill => "#D8DFE3", :points => "76.7,153 60.1,144.1 60.1,155.2 66.2,158.5 \t\t\t"}
    %polygon{:fill => "#E2E9ED", :points => "60.1,144.1 60.1,155.2 54.7,158 44.2,152.5 \t\t\t"}
    %polygon{:fill => "#E2E9ED", :points => "32.3,129.3 32.3,140.4 26.9,143.2 16.4,137.6 \t\t\t"}
  %g
    %polygon{:fill => "#0A5F68", :points => "101.2,101.4 101.2,89.1 70.1,105.5 70.1,117.4 \t\t\t\t\t"}
    %polygon{:fill => "#064C54", :points => "70.1,105.5 54.6,97.4 54.6,109.4 70.1,117.4 \t\t\t\t\t"}
    %polygon{:fill => "#4EBFC9", :points => "64.5,108.3 33.4,124.6 17.9,116.6 48.9,100.3 \t\t\t\t\t"}
    %polygon{:fill => "#0A5F68", :points => "120.9,111.7 120.9,99.5 89.9,115.8 89.9,127.7 \t\t\t\t\t"}
    %polygon{:fill => "#064C54", :points => "89.9,115.8 74.3,107.8 74.3,119.7 89.9,127.7 \t\t\t\t\t"}
    %polygon{:fill => "#0A5F68", :points => "140.6,122.1 140.6,109.8 109.6,126.1 109.6,138 \t\t\t\t\t"}
    %polygon{:fill => "#064C54", :points => "109.6,126.1 94,118.1 94,130 109.6,138 \t\t\t\t\t"}
    %polygon{:fill => "#12848F", :points => "64.5,120.6 64.5,108.3 33.4,124.6 33.4,136.6 \t\t\t\t\t"}
    %polygon{:fill => "#0C6870", :points => "33.4,124.6 17.9,116.6 17.9,128.6 33.4,136.6 \t\t\t\t\t"}
    %polygon{:fill => "#4EBFC9", :points => "84.2,118.6 53.1,135 37.6,127 68.7,110.6 \t\t\t\t\t"}
    %polygon{:fill => "#12848F", :points => "84.2,130.9 84.2,118.6 53.1,135 53.1,146.9 \t\t\t\t\t"}
    %polygon{:fill => "#0C6870", :points => "53.1,135 37.6,127 37.6,138.9 53.1,146.9 \t\t\t\t\t"}
    %polygon{:fill => "#4EBFC9", :points => "103.9,128.9 72.8,145.3 57.3,137.3 88.4,121 \t\t\t\t\t"}
    %polygon{:fill => "#12848F", :points => "103.9,141.3 103.9,128.9 72.8,145.3 72.8,157.2 \t\t\t\t\t"}
    %polygon{:fill => "#0C6870", :points => "72.8,145.3 57.3,137.3 57.3,149.2 72.8,157.2 \t\t\t\t\t"}
    %polygon{:fill => "#4EBFC9", :points => "159.5,118.1 108.1,145 95.4,138.5 146.8,111.5 \t\t\t\t\t\t"}
    %polygon{:fill => "#12848F", :points => "159.5,130 159.5,118.1 108.1,145 108.1,156.7 \t\t\t\t\t\t"}
    %polygon{:fill => "#0C6870", :points => "108.1,145 95.4,138.5 95.4,150.2 108.1,156.7 \t\t\t\t\t\t"}
    %polygon{:fill => "#26828A", :points => "26.9,111.9 49,100.4 64.5,108.3 42.5,119.9 \t\t\t\t\t"}
    %polygon{:fill => "#26828A", :points => "46.7,122.1 68.7,110.6 84.2,118.6 62.2,130.2 \t\t\t\t\t"}
    %polygon{:fill => "#26828A", :points => "66.4,132.4 88.4,121 103.9,128.9 81.9,140.5 \t\t\t\t\t"}
    %polygon{:fill => "#26828A", :points => "95.4,138.5 101.2,141.5 152.5,114.5 146.8,111.5 \t\t\t\t\t"}
    %polygon{:fill => "#0A5F68", :points => "42.5,124.4 42.5,119.9 64.5,108.3 64.5,112.9 \t\t\t\t"}
    %polygon{:fill => "#0A5F68", :points => "62.7,134.7 62.7,130.2 84.4,118.6 84.6,123.1 \t\t\t\t"}
    %polygon{:fill => "#0A5F68", :points => "81.9,152.6 81.9,140.5 103.9,129 103.9,134 95.4,138.4 95.4,145.7 \t\t\t\t"}
    %polygon{:fill => "#26828A", :points => "74.3,107.7 105.4,91.4 120.9,99.5 89.8,115.7 \t\t\t\t"}
    %polygon{:fill => "#26828A", :points => "94,118 125.1,101.8 140.6,109.8 109.5,126.1 \t\t\t\t"}
    %polygon{:fill => "#26828A", :points => "54.6,97.4 85.7,81.1 101.2,89.1 70.1,105.5 \t\t\t\t"}
    %polygon{:fill => "#064C54", :points => "95.4,138.4 101.2,141.5 101.2,153.2 95.4,150.2 \t\t\t\t"}
    %polygon{:fill => "#4AF1FF", :points => "103.3,147.5 90.5,154 77.8,147.5 90.5,140.9 \t\t\t\t"}
    %polygon{:fill => "#31CFDC", :points => "103.3,159.4 103.3,147.5 90.5,154 90.5,165.7 \t\t\t\t"}
    %polygon{:fill => "#1FC1D1", :points => "90.5,154 77.8,147.5 77.8,159.2 90.5,165.7 \t\t\t\t"}
  %g
    %polygon{:fill => "#EC5268", :points => "91.5,122.8 178.8,77.7 178.8,90.9 91.5,135.9 \t\t\t"}
    %polygon{:fill => "#C74F62", :points => "91.5,122.8 4.1,77.7 4.1,90.9 91.5,135.9 \t\t\t"}
    %polygon{:fill => "#F97792", :points => "178.8,77.7 91.5,122.8 4.1,77.7 91.5,32.7 \t\t\t"}
    %polygon{:fill => "#F25C74", :points => "171.2,74.2 91.5,115.3 11.8,74.2 91.5,33.2 \t\t\t"}
  %g
    %polygon{:fill => "#2F4757", :points => "177.9,45.6 89.9,91 2,45.6 89.9,0.3 \t\t\t"}
    %polygon{:fill => "#50728A", :points => "40.6,38.3 23.1,47.3 20,45.6 37.5,36.6 \t\t\t"}
    %polygon{:fill => "#47657A", :points => "59.4,34.3 34.7,47 31.6,45.4 56.2,32.7 \t\t\t"}
    %polygon{:fill => "#47657A", :points => "64.9,37.2 40.3,49.9 37.2,48.3 61.8,35.6 \t\t\t"}
    %polygon{:fill => "#47657A", :points => "70.5,40.1 45.9,52.8 42.7,51.1 67.4,38.4 \t\t\t"}
    %polygon{:fill => "#50728A", :points => "66,51.4 48.5,60.4 45.4,58.7 62.9,49.7 \t\t\t"}
    %polygon{:fill => "#47657A", :points => "84.8,47.4 60.1,60.1 57,58.5 81.6,45.8 \t\t\t"}
    %polygon{:fill => "#47657A", :points => "90.3,50.3 65.7,63 62.6,61.4 87.2,48.7 \t\t\t"}
    %polygon{:fill => "#47657A", :points => "95.9,53.2 71.3,65.9 68.1,64.2 92.8,51.5 \t\t\t"}
    %polygon{:fill => "#50728A", :points => "90.6,64 73.1,73 69.9,71.4 87.4,62.4 \t\t\t"}
    %polygon{:fill => "#47657A", :points => "109.3,60.1 84.7,72.8 81.5,71.1 106.2,58.4 \t\t\t"}
    %polygon{:fill => "#47657A", :points => "114.9,62.9 90.2,75.6 87.1,74 111.7,61.3 \t\t\t"}
    %polygon{:fill => "#47657A", :points => "120.4,65.8 95.8,78.5 92.7,76.9 117.3,64.2 \t\t\t"}
    %polygon{:fill => "#50728A", :points => "80,18.2 62.5,27.2 59.3,25.6 76.8,16.5 \t\t\t"}
    %polygon{:fill => "#47657A", :points => "98.7,14.3 74.1,27 70.9,25.3 95.6,12.6 \t\t\t"}
    %polygon{:fill => "#47657A", :points => "104.2,17.1 79.6,29.8 76.5,28.2 101.1,15.5 \t\t\t"}
    %polygon{:fill => "#47657A", :points => "109.8,20 85.2,32.7 82.1,31 106.7,18.4 \t\t\t"}
    %polygon{:fill => "#50728A", :points => "105.4,31.3 87.9,40.3 84.7,38.7 102.2,29.7 \t\t\t"}
    %polygon{:fill => "#47657A", :points => "124.1,27.4 99.5,40.1 96.3,38.4 121,25.7 \t\t\t"}
    %polygon{:fill => "#47657A", :points => "129.7,30.2 105,42.9 101.9,41.3 126.5,28.6 \t\t\t"}
    %polygon{:fill => "#47657A", :points => "135.2,33.1 110.6,45.8 107.5,44.2 132.1,31.5 \t\t\t"}
    %polygon{:fill => "#50728A", :points => "129.9,43.9 112.4,52.9 109.3,51.3 126.8,42.3 \t\t\t"}
    %polygon{:fill => "#47657A", :points => "148.6,40 124,52.7 120.9,51.1 145.5,38.4 \t\t\t"}
    %polygon{:fill => "#47657A", :points => "154.2,42.9 129.5,55.6 126.4,53.9 151.1,41.2 \t\t\t"}
    %polygon{:fill => "#47657A", :points => "159.7,45.7 135.1,58.4 132,56.8 156.6,44.1 \t\t\t"}
    %polygon{:fill => "#1E2B33", :points => "89.9,91 177.9,45.6 177.9,58.9 89.9,104.2 \t\t\t"}
    %polygon{:fill => "#19242B", :points => "89.9,91 2,45.6 2,58.9 89.9,104.2 \t\t\t"}